@model IEnumerable<FireRosterMVC.Models.EmergencyContact>

@{
    ViewBag.Title = "Emergency Contact List";
}

<h2>Emergency Contact List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.DisplayName, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayNumber)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Gender", new { id=item.ID })">
                <i class="glyphicon glyphicon-edit"></i>
                <span class="sr-only">Edit</span>
            </a>
            <a href="@Url.Action("Delete", "Gender", new { id=item.ID })">
                <i class="glyphicon glyphicon-trash"></i>
                <span class="sr-only">Delete</span>
            </a>
        </td>
    </tr>
}

</table>
