@model FireRosterMVC.Models.Phone

@{
    ViewBag.Title = "Details";
}

<h2>Phone: @Html.DisplayFor(model => model.DisplayNumber)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staff.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Profile", "Details", new { controller = "Staff", id = Model.Staff_ID })
</p>
