@model FireRosterMVC.Models.Position

@{
    ViewBag.Title = "Details";
}

<h2>Position: @Html.DisplayFor(model => model.DisplayName)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd>
            @if (Model.Staff != null)
            {
                @Html.ActionLink(Model.Staff.DisplayName, "Details", "Staff", new { id = Model.Staff.ID }, null)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank.Code)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @if (Model.Location != null) { 
                @Html.ActionLink(Model.Location.Name, "Details", "Location", new { id = Model.Location_ID }, null)
            }
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Label)
        </dd>

    </dl>
</div>
<p>
    @Html.Partial("_DetailsFooterPartial", new ViewDataDictionary { { "id", Model.ID } })
</p>
