@model FireRosterMVC.Models.Position

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Position: @Html.DisplayFor(model => model.DisplayName)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Staff", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{ string initialName = ""; }
                @if (Model.Staff_ID != null)
                {
                    initialName = Model.Staff.DisplayName;
                }
                @Html.TextBox("nameSearch", initialName, new { @class = "form-control", @placeholder = "type a name or emp #" })
                @Html.HiddenFor(model => model.Staff_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rank, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Rank_ID", null, "-- Select --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Rank_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Location_ID", null, "-- Select --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Location_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Shift, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Shift, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Shift)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StartDate, @"{0:MM\/dd\/yyyy}", new { @class = "form-control datepicker", @placeholder = "MM/dd/yyyy" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EndDate, @"{0:MM\/dd\/yyyy}", new { @class = "form-control datepicker", @placeholder = "MM/dd/yyyy" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status_ID", null, "-- Select --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Status_ID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.Partial("_EditFooterPartial", new ViewDataDictionary { { "id", Model.ID } })
</div>

@section ExtraScripts {
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/Scripts/FireRosterDatePicker.js")
    @Scripts.Render("~/Scripts/StaffNameLookup.js")
}
@section ExtraStyles {
    @Styles.Render("~/Content/themes/base/jquery-ui");
}