@model IEnumerable<FireRosterMVC.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Address List</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { staffId = ViewBag.StaffID })
</p>
<table class="table">
    <tr>
        <th>
            Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Address", new { id=item.ID })">
                @(item.Street1)  @(item.Street2)
                @if (!string.IsNullOrWhiteSpace(item.City))
                {
                    @(item.City)@:,
                }
                @(item.State)
                @(item.Zip)
            </a>
        </td>
        <td>
            @Html.Partial("_ListActionsPartial", new ViewDataDictionary { { "controller", "Address" }, { "id", item.ID } })
        </td>
    </tr>
}

</table>
