@model FireRosterMVC.Models.tblEmployeeRosterAssignment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblEmployeeRosterAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblEmployee.LastUpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEmployee.LastUpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblRank.LastUpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRank.LastUpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblShift.LastUpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblShift.LastUpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRemoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRemoved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isRemoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isRemoved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isTestData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isTestData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeRosterAssignmentStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeRosterAssignmentStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeRosterAssignmentEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeRosterAssignmentEndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
