@model FireRosterMVC.Models.PhoneType

@{
    ViewBag.Title = Model.Label + " - Phone Type";
}

<h2>Phone Type: @Html.DisplayFor(model => model.Label)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
