@model FireRosterMVC.Models.Staff

@{
    ViewBag.Title = @Html.DisplayFor(model => model.DisplayName) + " - Details";
}

<h2>@Html.DisplayFor(model => model.DisplayName)</h2>
<div class="clearfix"></div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Personal Information</h3></div>
        <div class="col-md-4 panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SSN)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SSN)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NamePrefix)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NamePrefix)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NameSuffix)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NameSuffix)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Race)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Race.Label)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gender.Label)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RankDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RankDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CDL)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CDL.Label)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CareerDevelopmentDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CareerDevelopmentDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EmploymentDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EmploymentDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TerminationDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TerminationDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MilitaryLeave)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MilitaryLeave)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.RosterRank)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RosterRank)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HenricoUserID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HenricoUserID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DisplayEmail)
                </dt>
                <dd>
                    @if (!Model.DisplayEmail.IsEmpty())
                    {
                        <a rel="nofollow" href="mailto:@Html.Raw(Model.DisplayEmail)">
                        @Html.DisplayFor(model => model.DisplayEmail)
                        </a>
                    }
                    
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OracleHrID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OracleHrID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BadgeNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BadgeNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-4 panel-body">
            <ul class="list-group">
                <li class="list-group-item active"><strong>Address@(Model.Addresses.Count > 1 ? "es" : ""):</strong></li>
                @foreach (var addr in Model.Addresses)
                {
                <li class="list-group-item">
                    <a href="@Url.Action("Details", "Address", new { id = addr.ID })">
                        @if (!string.IsNullOrWhiteSpace(addr.Street1))
                        {
                            @(addr.Street1)<br />
                        }
                        @if (!string.IsNullOrWhiteSpace(addr.Street2))
                        {
                            @(addr.Street2)<br />
                        }
                        @if (!string.IsNullOrWhiteSpace(addr.City))
                        {
                            @(addr.City)@:,
                       }
                        @if (!string.IsNullOrWhiteSpace(addr.State))
                        {
                            @(addr.State)
                        }
                        @if (!string.IsNullOrWhiteSpace(addr.Zip))
                        {
                            @(addr.Zip)
                        }
                    </a>
                </li>
                }
                <li class="list-group-item active"><strong>Phone Number@(Model.PhoneNumbers.Count > 1 ? "s" : ""):</strong></li>
                @foreach (var phone in Model.PhoneNumbers)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(@phone.DisplayNumber, "Details", "Phone", new { id = @phone.ID }, null)
                        (@phone.Type.Label)
                        @if (phone.Primary == true)
                        { 
                        <i class="glyphicon glyphicon-ok-sign text-success"></i>
                        <span class="sr-only">Primary</span>
                        }
                    </li>
                }
                <li class="list-group-item active"><strong>Emergency Contact@(Model.EmergencyContacts.Count > 1 ? "s" : ""):</strong></li>
                @foreach (var contact in Model.EmergencyContacts.OrderBy(c => c.Order))
                {
                    <li class="list-group-item">
                        @Html.ActionLink(contact.DisplayName, "Details", "EmergencyContact", new { id = contact.ID }, null)
                       (@contact.Relationship) <br />
                        @contact.DisplayNumber (@contact.PhoneType.Label)
                        
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4 panel-body text-center">
            <img src="@Url.Action("Index", "Photo", new { id = Model.ID })" height="325" width="274" />
        </div>
    </div>

<div class="clearfix"></div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Professional Information</h3></div>
    <div class="col-md-4 panel-body">
        <ul class="list-group">
            <li class="list-group-item active"><strong>Skill List:</strong></li>
            @foreach (var skill in Model.Skills)
            {
                <li class="list-group-item">
                    <img src="@Url.Content("~/content" + @skill.ImageLink)"  
                         height="23" width="25" alt="icon for @skill.Name" />
                    @Html.ActionLink(@skill.Name, "Details", "Skill", new { id = @skill.ID }, null)
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4 panel-body">
        <ul class="list-group">
            <li class="list-group-item active"><strong>Position@(Model.CurrentPositions.Count() > 1 ? "s" : ""):</strong></li>
            @foreach (var position in Model.CurrentPositions)
            {
                <li class="list-group-item">
                    @Html.ActionLink(position.DisplayName, "Details", "Position", new { id = position.ID }, null)<br />
                    @Html.DisplayFor(p => position.StartDate) - @Html.DisplayFor(p => position.EndDate)
                </li>
            }
            <li class="list-group-item text-right">
                <a href="@Url.Action("Index", "Position", new { Staff_ID = Model.ID })" class="small">view all positions >></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 panel-body">
       
    </div>
</div>



<div class="clearfix"></div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
