@model FireRosterMVC.Models.Codes.CareerDevelopmentLevel

@{
    ViewBag.Title = Model.Label + " - Career Development Level";
}

<h2>Career Development Level: @Html.DisplayFor(model => model.Label)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
